:root {
  box-sizing: border-box;
  viewport-fit: cover;
}

.custom-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  overscroll-behavior-y: contain;
}

html,
body,
#root,
.app {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #121212;
  color: #fff;
  touch-action: none;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
}

.page {
  padding: max(env(safe-area-inset-top), 1rem)
    calc(env(safe-area-inset-right) + 1rem)
    max(env(safe-area-inset-bottom), 1rem)
    calc(env(safe-area-inset-left) + 1rem);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  width: 100vw;

  .page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;

    .button {
      flex-grow: 0;
      width: fit-content;
    }
  }

  .page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

h1 {
  font-weight: 100;
}

.Toastify__toast:first-child {
  padding-top: max(8px, env(safe-area-inset-top));
  transform: translateX(1rem);
}

.title-small {
  font-weight: 100;
  margin-bottom: 1rem;
}
