.lyrics-laoding {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  padding: 1em;
}

.player-lyrics {
  padding: 1rem;
  overflow: hidden;
  font-size: 1.2rem;
  text-align: center;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black calc(2rem),
    black calc(100% - 5rem),
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black calc(2rem),
    black calc(100% - 5rem),
    transparent
  );

  .lyrics-line {
    opacity: 0.5;
    transition: 0.2s;
    margin-bottom: 1rem;

    &.active {
      opacity: 1;
      font-size: 1.5rem;
    }
  }
}

.playlist.active {
  padding-bottom: 6rem;
}
