.device-cast {
  h2 {
    margin: 0 1rem;
    margin-bottom: 0.5rem;
  }

  .device {
    display: flex;
    align-items: center;
    padding: 1rem;

    &:active {
      background-color: #333;
    }

    .device-icon {
      margin-right: 1rem;
      display: flex;
      align-items: center;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    .device-type {
      color: #666;
      font-size: 0.8rem;
    }
  }
}
