.device-cast {
  h2 {
    margin: 0 1rem;
    margin-bottom: 0.5rem;
  }

  .device {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: 0.2s;

    &:active {
      background-color: #333;
    }

    &.active {
      background-color: rgba(#d35400, 0.1);
    }

    .device-icon {
      margin-right: 1rem;
      display: flex;
      align-items: center;
    }

    .device-info {
      flex-grow: 1;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }

    .device-type {
      color: #666;
      font-size: 0.8rem;
    }
  }

  .device-cast-footer {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 1rem;
      animation: spinner infinite 1.5s;
    }
  }
}

.device-icon-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 13px;
  height: 13px;

  span {
    width: 3px;
    height: 100%;
    background-color: #d35400;
    border-radius: 3px;
    content: "";
    animation: bounce 2.2s ease infinite alternate;
    transform-origin: bottom;

    &:nth-of-type(2) {
      animation-delay: -2.2s; /* Start at the end of animation */
    }

    &:nth-of-type(3) {
      animation-delay: -3.7s; /* Start mid-way of return of animation */
    }
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}
