.player {
  position: fixed;
  bottom: 0;
  height: calc(100%);
  transform: translateY(100%);
  transition: 0.55s;
  width: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &.active {
    transform: translateY(0);

    &.collapsed {
      transform: translateY(calc(100% - 6rem));
      border-radius: 1rem 1rem 0 0;

      .player-header {
        height: 6rem;
        margin-top: 0;
      }

      .player-background-transition,
      .player-background {
        height: 6rem;
      }

      .player-header-info {
        opacity: 1;
      }

      .player-header-cover {
        opacity: 1;
      }

      .player-header-controls {
        opacity: 1;
      }

      .player-header-progress {
        opacity: 1;
      }

      .playlist-header-toggle svg {
        transform: rotate(180deg);
      }
    }
  }

  .player-background-transition {
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    transition: 0.55s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.transitioning {
      animation: inTransition 0.55s forwards;
    }
  }

  .player-background-blur {
    position: absolute;
    top: -0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    z-index: -1;
    transition: 0.55s;
  }

  .player-background {
    position: absolute;
    z-index: -3;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transition: 0.55s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.player-header {
  display: flex;
  height: 3rem;
  z-index: 1;
  align-items: center;
  padding: 0.5rem;
  margin-top: env(safe-area-inset-top);
  transition: 0.55s;

  .play-header-content {
    flex-grow: 1;
  }

  .player-header-upper {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .player-header-progress {
    height: 0.2rem;
    border-radius: 0.1rem;
    margin-top: 1rem;
    opacity: 0;
    transition: 0.55s;

    background-color: rgba(255, 255, 255, 0.35);

    .player-header-progress-bar {
      height: 100%;
      background-color: #fff;
      border-radius: 0.1rem;
      transition: 0.2s width;
    }
  }

  .player-header-controls {
    transition: 0.55s;
    opacity: 0;
    display: flex;
    align-items: center;
    height: 100%;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .player-header-info {
    flex-grow: 1;
    opacity: 0;
    transition: 0.55s;
  }

  .playlist-header-toggle {
    width: 4rem;
    height: 4rem;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transform: scale(1.05);
    }

    svg {
      width: 1.6rem;
      height: 1.6rem;
      transition: 0.2s;
    }
  }

  .player-header-cover {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 0.5rem;
    opacity: 0;
    transition: 0.55s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.player-song {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .player-cover {
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 2rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .player-volume {
    position: absolute;
    right: 1.7rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1rem;

    @media screen and (max-width: 900px) and (hover: none) {
      display: none;
    }

    .player-volume-bar {
      transform: rotate(-90deg) translateY(-0.3rem);
      background-color: rgba(255, 255, 255, 0.3);
      width: 8rem;
      height: 0.2rem;
      border-radius: 0.1rem;
    }

    .player-volume-icon {
      margin-top: 4.5rem;
      height: 1.5rem;
      width: 1.5rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  .player-info {
    text-align: center;
    margin-bottom: 0.5rem;

    .player-title {
      font-size: 2rem;
      font-weight: 100;
    }

    .player-artist {
      opacity: 0.5;
    }
  }
}

.player-progress {
  display: flex;
  width: 100%;
  padding: 0 1rem;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);

  .player-progress-bar {
    flex-grow: 1;
    height: 0.2rem;
    margin: 0 1rem;
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.3);

    &-progress {
      height: 100%;
      background-color: #fff;
      border-radius: 0.25rem;
    }
  }
}

.player-controls {
  display: flex;

  .player-controls-icon {
    padding: 0.7rem;
    transition: 0.2s;
    position: relative;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      transition: 0.2s;
      opacity: 0.7;
    }

    &:active svg {
      opacity: 1;
    }

    &.main {
      svg {
        opacity: 1;
        transform: scale(1.5);
      }
    }

    &.active svg {
      opacity: 1;
    }

    &::after {
      transition: 0.2s;
      position: absolute;
      content: "";
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 0.5rem;
      background-color: transparent;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
    }

    &.active::after {
      background-color: #fff;
      bottom: 0.4rem;
    }
  }
}

input[type="range"] {
  outline: 0;
  -webkit-appearance: none;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;

  &:hover::-webkit-slider-thumb {
    height: 0.6rem;
    width: 0.6rem;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  transition: 0.2s;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
}

.player-queue {
  padding: 1rem 1rem;
  overflow: auto;
  flex-grow: 1;

  mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 0.2rem,
    black 2rem
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 0rem,
    black 2rem,
    black calc(100% - 2rem),
    transparent 100%
  );

  .playlist-entry-artist,
  .playlist-entry-time {
    font-size: 0.9rem;
    color: #fff;
    opacity: 0.8;
  }
}

@keyframes inTransition {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.player-content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

// Player slider
.player-slider {
  flex-grow: 1;
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
  margin-top: -1rem;

  .player-slider-item {
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: 0.45s;
  }

  &.switched {
    .player-slider-item {
      transform: translateX(-100%);
    }
  }
}

.player-buttons {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1rem;

  button {
    outline: 0;
    background-color: transparent;
    color: #fff;
    border: 0;
    font-size: 1rem;
    padding: 0.6rem 2rem;
    transition: 0.2s;
    border-radius: 0.5rem;

    &.active,
    &:active {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
