.song-search {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 300;
    margin: 0 1rem;
    margin-bottom: 1rem;
  }
  .textfield {
    margin-bottom: 0;
    margin: 0 1rem;
  }
}

.song-search-results {
  overflow: auto;
  padding: 1.5rem 1rem 1rem 1rem;

  mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 0.2rem,
    black 2rem
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    transparent 0.2rem,
    black 2rem
  );
}

.song-search-entry {
  display: flex;
  align-items: center;
  transition: 0.2s;

  &:active {
    transform: scale(0.95);
  }

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .song-search-cover {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 0.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .song-search-info {
    flex-grow: 1;
  }

  .song-search-artist,
  .song-search-duration {
    font-size: 0.9rem;
    color: #999;
  }
}
